.all-products{
    padding: 20px;
    margin-top: 50px;
    height: 1400px;

    .add-btn{
       margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        background-color: #131e3b;
        &:hover{
            background-color: #131e3b;
            
        }
    }

    img{
        width: 10%;
        height: 10%;
        object-fit: contain;
    }

   .actions{ 
       width: 100%;
       margin: 0 auto;
       display: flex;

       .view-detail-btn{
            // margin: 0 auto;
            // display: flex;
            // align-items: center;
            // margin-bottom: 40px;
            background-color: #131e3b;
            &:hover{
                background-color: #131e3b;
                
            }
       }
       
       span{
            cursor: pointer;
            font-size: 40px;
            margin: 0 auto;
            
        }
    
        
   }
   .all-contain{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(214, 211, 211);
    border-radius: 3px;
    padding: 10px;

    .product-content{
        display: flex;
            .product-img{
                height: 140px;
                width: 140px;
        
        
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            
            }
            
    }
    .product-action{
        display: flex;
        align-items: center;

        .view-detail-btn{
            background-color: #131e3b;
            transform: translateY(-40%);
            &:hover{
                background-color: #131e3b;
                
            }
        }
        span{
            font-size: 40px;

            .ri-delete-bin-line{
                margin-left: 20px;
            }
        }
    }
   }
}